{% extends 'base.html.twig' %}

{% block title %}Edit Sensors{% endblock %}

{% block body %}
    <h1>Edit Sensors</h1>

    {{ include('sensors/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sensors_index') }}">back to list</a>

    {{ include('sensors/_delete_form.html.twig') }}
{% endblock %}
