{% extends 'base.html.twig' %}

{% block title %}New Sensors{% endblock %}

{% block body %}
    <h1>Create new Sensors</h1>

    {{ include('sensors/_form.html.twig') }}

    <a href="{{ path('sensors_index') }}">back to list</a>
{% endblock %}
