{% extends 'base.html.twig' %}

{% block title %}Hello SensorUplinkController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/clients/7013e9c520340d452787db41b1ef6905/sites/sources.fajinfo.ch/src/Controller/SensorUplinkController.php'|file_link(0) }}">src/Controller/SensorUplinkController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/clients/7013e9c520340d452787db41b1ef6905/sites/sources.fajinfo.ch/templates/sensor_uplink/index.html.twig'|file_link(0) }}">templates/sensor_uplink/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
